doc/xsd_schemas/dokument_wynik_weryfikacji_v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nfz="https://ezwm.nfz.gov.pl/xml/e-zpo/dok-wynik-weryfikacji/v2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="https://ezwm.nfz.gov.pl/xml/e-zpo/dok-wynik-weryfikacji/v2.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="dokument-zpo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zlecenie" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weryfikacja" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mies-realizacji" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="mies-od" use="required" type="nfz:TRokMiesiac"/>
                        <xs:attribute name="lb-mies" use="required" type="nfz:TLbMies"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:choice>
                      <xs:element name="wynik-pozytywny" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
							<xs:element name="dane-naprawy" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
								<xs:attribute name="kod-naprawy" type="nfz:TTekstDo16" use="required"/>
								<xs:attribute name="limit-naprawy" type="nfz:TLiczba16_2" use="required"/>
                                <xs:attribute name="okres-uzytkowania-wyr-med-ulega-wydl-do" type="nfz:TData" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="potw-wyrob-med" minOccurs="0" maxOccurs="4">
                              <xs:complexType>
								<xs:sequence>
									<xs:element name="zmiana-limitu" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="przyczyna-zmiany" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:attribute name="przyczyna" type="nfz:TPrzyczyna" use="required"/>
														<xs:attribute name="opis" type="nfz:TTekstDo1000" use="optional"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
                                <xs:attribute name="kod-mz" type="nfz:TTekstDo16" use="required"/>
                                <xs:attribute name="kod-przedm" type="nfz:TTekstDo16" use="required"/>
                                <xs:attribute name="umiejsc" type="nfz:TUmiejsc" use="optional"/>
                                <xs:attribute name="liczba-szt" use="required" type="nfz:TLiczba4_0"/>
                                <xs:attribute name="limit-ceny" use="required" type="nfz:TLiczba16_2"/>
                                <xs:attribute name="rodzaj-limitu-ceny" use="required" type="nfz:TRodzajLimituCeny"/>
                                <xs:attribute name="refundacja" use="required" type="nfz:TLiczba3_0"/>
                                <xs:attribute name="data-waznosci" type="nfz:TData" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="realizacja-od" type="nfz:TData" use="optional"/>
                          <xs:attribute name="data-wazn-zlec" type="nfz:TData" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="wynik-negatywny" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="problem" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="umiejscowienie-problemu" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                      <xs:choice>
                                        <xs:element name="potw-wyrob" minOccurs="1" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:attribute name="kod-potw-przedm" use="required" type="nfz:TTekstDo16"/>
                                            <xs:attribute name="umiejsc" use="optional" type="nfz:TUmiejsc"/>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="wydany-kod-przedm" minOccurs="1" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:attribute name="kod-wydanego-przedm" use="required" type="nfz:TTekstDo16"/>
                                            <xs:attribute name="umiejsc" use="optional" type="nfz:TUmiejsc"/>
                                            <xs:attribute name="id-prod-handl" use="optional" type="nfz:TLiczba12_0"/>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:choice>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="kod-problemu-zlecenia" type="nfz:TTekstDo10" use="required"/>
                                <xs:attribute name="opis" type="nfz:TTekstDo1000" use="required"/>
                                <xs:attribute name="ocena-ow" type="nfz:TOcenaOw" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:element name="dod-informacje" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="adresat" use="required" type="nfz:TAdresat"/>
                        <xs:attribute name="opis" type="nfz:TTekstDo1000" use="required"/>
                      </xs:complexType>
                    </xs:element>
					<xs:element name="upraw-dod" minOccurs="0" maxOccurs="1">
						<xs:complexType>
						  <xs:sequence>
							<xs:element name="upraw-dod-dok" minOccurs="0" maxOccurs="1">
							  <xs:complexType>
								<xs:attribute name="rodzaj-dokumentu" use="required" type="nfz:TTekstDo10"/>
								<xs:attribute name="nr-dokumentu" use="optional" type="nfz:TTekstDo40"/>
								<xs:attribute name="data-wystawienia" type="nfz:TData" use="required"/>
								<xs:attribute name="data-waznosci" type="nfz:TData" use="optional"/>
								<xs:attribute name="bezterminowy" type="nfz:TTakNie" use="required"/>
								<xs:attribute name="npwz" use="optional" type="nfz:TTekst7"/>
							  </xs:complexType>
							</xs:element>
						  </xs:sequence>
						  <xs:attribute name="upraw-dod-kod" use="required" type="nfz:TUprawDodKod"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="potw-uprawnien" minOccurs="0" maxOccurs="1">
						<xs:complexType>
						  <xs:sequence>
							<xs:choice>					
								<xs:element name="oswiadczenie" minOccurs="1" maxOccurs="1">
									<xs:complexType>
										<xs:attribute name="data-oswiadczenia" type="nfz:TData" use="required"/>
										<xs:attribute name="osoba-sklad" type="nfz:TOsobaSklad" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="dokument" minOccurs="1" maxOccurs="1">
									<xs:complexType>
									  <xs:sequence>
										<xs:element name="dokument-ue" minOccurs="0" maxOccurs="1">
										  <xs:complexType>
											<xs:attribute name="panstwo" use="required" type="nfz:TTekstDo2"/>
											<xs:attribute name="id-osoby" use="optional" type="nfz:TTekstDo30"/>
											<xs:attribute name="kod-inst" use="required" type="nfz:TTekstDo10"/>
											<xs:attribute name="akronim-nazwy" use="optional" type="nfz:TTekstDo25"/>
											<xs:attribute name="id-inst-cwu" use="optional" type="nfz:TTekstDo30"/>
										  </xs:complexType>
										</xs:element>
									  </xs:sequence>
									  <xs:attribute name="rodzaj" type="nfz:TLiczba4_0z0" use="required"/>
									  <xs:attribute name="numer" type="nfz:TTekstDo40" use="optional"/>
									  <xs:attribute name="data-wyst" type="nfz:TData" use="optional"/>
									  <xs:attribute name="data-wazn-od" type="nfz:TData" use="optional"/>
									  <xs:attribute name="data-wazn-do" type="nfz:TData" use="optional"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						  </xs:sequence>
						  <xs:attribute name="tytul-uprawn" use="required" type="nfz:TTekstDo3"/>
						</xs:complexType>
					</xs:element>
                  </xs:sequence>
                  <xs:attribute name="data-weryfikacji" type="nfz:TDataTime" use="required"/>
                  <xs:attribute name="etap" use="required" type="nfz:TEtap"/>
                  <xs:attribute name="ow-nfz" type="nfz:TOwNFZCmzo" use="required"/>
                  <xs:attribute name="czesciowa-realizacja" type="nfz:TCzesciowaRealizacja" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nr-zlecenia-nfz" use="required" type="nfz:TNrZleceniaNfz"/>
          </xs:complexType>
        </xs:element>
		<xs:element ref="dsig:Signature" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="typ-nad" use="required" type="nfz:TTypNad" fixed="P"/>
      <xs:attribute name="ow-nad" use="required" type="nfz:TOwNFZCmzo" fixed="00"/>
      <xs:attribute name="id-nad" use="required" type="nfz:TTekstDo24"/>
      <xs:attribute name="id-inst-nad" use="required" type="nfz:TTekstDo38"/>
      <xs:attribute name="id-tech-dokumentu" use="required" type="nfz:TTekstDo38"/>
      <xs:attribute name="nr-wersji" use="required" type="nfz:TLiczba4_0"/>
      <xs:attribute name="data-gen" use="required" type="nfz:TDataTime"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="TTypNad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="L"/>
      <xs:enumeration value="P"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TOwNFZCmzo">
    <xs:union memberTypes="nfz:TOwNFZ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="00"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="TOwNFZ">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01"/>
      <xs:enumeration value="02"/>
      <xs:enumeration value="03"/>
      <xs:enumeration value="04"/>
      <xs:enumeration value="05"/>
      <xs:enumeration value="06"/>
      <xs:enumeration value="07"/>
      <xs:enumeration value="08"/>
      <xs:enumeration value="09"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNrZleceniaNfz">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TData">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="TDataTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekst7">
    <xs:restriction base="xs:string">
      <xs:length value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo16">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo24">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo25">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo38">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="38"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo40">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo1000">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba3_0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3"/>
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba4_0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba4_0z0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba12_0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba16_2">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="16"/>
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
	  <xs:maxExclusive value="100000000000000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEtap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Z"/>
      <xs:enumeration value="P"/>
      <xs:enumeration value="R"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCzesciowaRealizacja">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUmiejsc">
    <xs:restriction base="xs:string">
      <xs:enumeration value="L"/>
      <xs:enumeration value="P"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="TOcenaOw">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="TRokMiesiac">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLbMies">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2"/>
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TAdresat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P"/>
      <xs:enumeration value="W"/>
      <xs:enumeration value="R"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TRodzajLimituCeny">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TPrzyczyna">
    <xs:restriction base="xs:string">
      <xs:enumeration value="W"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="S"/>
	  <xs:enumeration value="R"/>
	  <xs:enumeration value="I"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TOsobaSklad">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
	  <xs:enumeration value="4"/>
	  <xs:enumeration value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUprawDodKod">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTakNie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
