doc/xsd_schemas/dokument_pobrania_real_v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nfz="https://ezwm.nfz.gov.pl/xml/e-zpo/dok-pobrania-real/v2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="https://ezwm.nfz.gov.pl/xml/e-zpo/dok-pobrania-real/v2.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>   
  <xs:element name="dokument-zpo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zlecenie" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dane-pobrania" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mies-realizacji" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="mies-od" type="nfz:TRokMiesiac" use="required"/>
                        <xs:attribute name="lb-mies" type="nfz:TLbMies" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="podmiot-realizacji-zlecenia" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="swd" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="umowa-z-nfz" minOccurs="1" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:attribute name="nr-umowy" type="nfz:TTekstDo24" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ow-nfz" type="nfz:TOwNFZ" use="required"/>
                              <xs:attribute name="kod-swd" type="nfz:TTekstDo24" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nazwa" type="nfz:TTekstDo255" use="required"/>
                        <xs:attribute name="regon" type="nfz:TRegon" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="miejsce-realizacji-zlecenia" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
						<xs:sequence>
						  <xs:element name="adres" type="nfz:TAdresSwd" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
                        <xs:attribute name="kod-tech-miejsca" type="nfz:TLiczba12_0" use="required"/>
                        <xs:attribute name="nazwa-miej" type="nfz:TTekstDo250" use="required"/>
                      </xs:complexType>
                    </xs:element>	
					<xs:choice>
						<xs:element name="upraw-dod-brak-zmian" minOccurs="1" maxOccurs="1"/>
						<xs:element name="brak-dod-upr" minOccurs="1" maxOccurs="1"/>
						<xs:element name="upraw-dod" minOccurs="1" maxOccurs="1">
							<xs:complexType>
							  <xs:sequence>
								<xs:element name="upraw-dod-dok" minOccurs="0" maxOccurs="1">
								  <xs:complexType>
									<xs:attribute name="rodzaj-dokumentu" use="required" type="nfz:TTekstDo10"/>
									<xs:attribute name="nr-dokumentu" use="optional" type="nfz:TTekstDo40"/>
									<xs:attribute name="data-wystawienia" type="nfz:TData" use="required"/>
									<xs:attribute name="data-waznosci" type="nfz:TData" use="optional"/>
									<xs:attribute name="bezterminowy" type="nfz:TTakNie" use="required"/>
									<xs:attribute name="npwz" use="optional" type="nfz:TTekst7"/>
								  </xs:complexType>
								</xs:element>
							  </xs:sequence>
							  <xs:attribute name="upraw-dod-kod" use="required" type="nfz:TUprawDodKod"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:element name="potw-uprawnien-realizator" minOccurs="0" maxOccurs="1">
						<xs:complexType>
						  <xs:sequence>
							<xs:choice>					
								<xs:element name="oswiadczenie" minOccurs="1" maxOccurs="1">
									<xs:complexType>
										<xs:attribute name="data-oswiadczenia" type="nfz:TData" use="required"/>
										<xs:attribute name="osoba-sklad" type="nfz:TOsobaSklad" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="dokument" minOccurs="1" maxOccurs="1">
									<xs:complexType>
									  <xs:sequence>
										<xs:element name="dokument-ue" minOccurs="0" maxOccurs="1">
										  <xs:complexType>
											<xs:attribute name="panstwo" use="required" type="nfz:TTekstDo2"/>
											<xs:attribute name="id-osoby" use="optional" type="nfz:TTekstDo30"/>
											<xs:attribute name="kod-inst" use="required" type="nfz:TTekstDo10"/>
											<xs:attribute name="akronim-nazwy" use="optional" type="nfz:TTekstDo25"/>
											<xs:attribute name="id-inst-cwu" use="optional" type="nfz:TTekstDo30"/>
										  </xs:complexType>
										</xs:element>
									  </xs:sequence>
									  <xs:attribute name="rodzaj" type="nfz:TLiczba4_0z0" use="required"/>
									  <xs:attribute name="numer" type="nfz:TTekstDo40" use="optional"/>
									  <xs:attribute name="data-wyst" type="nfz:TData" use="optional"/>
									  <xs:attribute name="data-wazn-od" type="nfz:TData" use="optional"/>
									  <xs:attribute name="data-wazn-do" type="nfz:TData" use="optional"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						  </xs:sequence>
						  <xs:attribute name="tytul-uprawn" use="required" type="nfz:TTekstDo3"/>
						</xs:complexType>
					</xs:element>
                  </xs:sequence>
                  <xs:attribute name="data-pobrania" type="nfz:TData" use="required"/>
                  <xs:attribute name="czesciowa-realizacja" type="nfz:TCzesciowaRealizacja" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nr-zlecenia-nfz" type="nfz:TNrZleceniaNfz" use="required"/>
            <xs:attribute name="kod-dostepu" type="nfz:TKodDostepu" use="required"/>
          </xs:complexType>
        </xs:element>
		<xs:element ref="dsig:Signature" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="typ-nad" use="required" type="nfz:TTypNad" fixed="S"/>
      <xs:attribute name="ow-nad" use="required" type="nfz:TOwNFZ"/>
      <xs:attribute name="id-nad" use="required" type="nfz:TTekstDo24"/>
      <xs:attribute name="id-inst-nad" use="required" type="nfz:TTekstDo38"/>
      <xs:attribute name="id-tech-dokumentu" use="required" type="nfz:TTekstDo38"/>
      <xs:attribute name="nr-wersji" use="required" type="nfz:TLiczba4_0"/>
      <xs:attribute name="data-gen" use="required" type="nfz:TDataTime"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="TTypNad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="L"/>
      <xs:enumeration value="P"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TOwNFZ">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01"/>
      <xs:enumeration value="02"/>
      <xs:enumeration value="03"/>
      <xs:enumeration value="04"/>
      <xs:enumeration value="05"/>
      <xs:enumeration value="06"/>
      <xs:enumeration value="07"/>
      <xs:enumeration value="08"/>
      <xs:enumeration value="09"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TData">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="TDataTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekst7">
    <xs:restriction base="xs:string">
      <xs:length value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo24">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo25">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo38">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="38"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo40">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo250">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTekstDo255">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba4_0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
	  <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba4_0z0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLiczba12_0">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNrZleceniaNfz">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TKodDostepu">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="11"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="8"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="TCzesciowaRealizacja">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTakNie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TLbMies">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="1"/>
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TRokMiesiac">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TOsobaSklad">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
	  <xs:enumeration value="4"/>
	  <xs:enumeration value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUprawDodKod">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TRegon">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="9"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="14"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="TAdresSwd">
	<xs:attribute name="kod-poczt" use="required">
	  <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
	</xs:attribute>
    <xs:attribute name="miejscowosc" use="required" type="nfz:TTekstDo100"/>
    <xs:attribute name="ulica" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="207"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nr-domu" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="9"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nr-lokalu" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
	<xs:attribute name="kod-kraju" use="optional" type="nfz:TTekstDo2"/>
  </xs:complexType>
</xs:schema>
